.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 42px;
}

.not-found-image {
  width: 300px;
  height: 250px;
  margin: 12px;
}

.page-not-found {
  font-family: 'Roboto';
  font-size: 25px;
  color: #475569;
  margin-top: 0;
}

.message-not-found {
  font-family: 'Roboto';
  color: #64748b;
  margin-top: 0;
}