.nav-container {
  display: flex;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: #e8e8e8;
}

.header-container {
  width: 80%;
  display: flex;
  align-items: center;
}

.website-logo {
  height: 50px;
  width: 150px;
  margin: 10px;
}
